
<footer class="bg-dark text-light py-3 py-lg-3">
  <div class="container">
    <div class="row py-1 py-lg-5">
      <!-- 左側 Logo 與簡介-->
      <div class="col"><img class="py-3" src="images/logo-gray.png" style="margin-left:-15px; margin-top:-18px"/></div>
      <!-- 導航連結-->
      <div class="col-md-2">
        <h5>Links</h5>
        <ul class="list-unstyled opacity-75 lh-lg">
          <li><a class="text-light text-decoration-none" href="#">關於我們</a></li>
          <li><a class="text-light text-decoration-none" href="#">產品介紹</a></li>
          <li><a class="text-light text-decoration-none" href="#">人才招募</a></li>
        </ul>
      </div>
      <!-- 公司資訊-->
      <div class="col-auto">
        <h5>承壹科技 / 承壹資訊</h5>
        <ul class="list-unstyled opacity-75 lh-lg">
          <li><a class="text-light text-decoration-none" href="mailto:service@turnone.com.tw">service@turnone.com.tw</a></li>
          <li><a class="text-light text-decoration-none" href="#">10596 臺北市松山區民生東路三段128號12樓之3</a></li>
        </ul>
      </div>
    </div>
    <!-- 底部版權-->
    <div class="pt-3 border-top border-secondary text-left">
      <p class="small mb-0">Copyright © TurnOne Tech Co., Ltd., All Rights Reserved.</p>
    </div>
  </div>
</footer>