
<header class="container-fluid bg-white sticky-top">
  <div class="container">
    <div class="navbar navbar-expand-lg navbar-light"><a class="navbar-brand" href="index.html"><img class="img-fluid" src="images/logo.png" alt="logo" width="128px" height="auto"/></a>
      <div class="burger-trigger d-lg-none">
        <div class="burger"><span> </span><span></span><span></span></div>
      </div>
      <div class="nav-overlay ms-auto pr-4"> 
        <div class="container">
          <ul class="list-unstyled mx-5 mt-5">
            <li class="burger-nav nav-item"><a class="fs-3 nav-link" href="index.html">首頁</a></li>
            <li class="burger-nav nav-item"><a class="fs-3 nav-link" href="index.html">關於我們</a></li>
            <li class="burger-nav nav-item"><a class="fs-3 nav-link" href="index.html">產品服務</a>
              <ol class="list-unstyled ms-3">
                <li class="dropdown nav-item"> <a class="nav-link fs-5 dropdown-item" href="index.html">雲端運算</a></li>
                <li class="dropdown nav-item"><a class="nav-link fs-5 dropdown-item" href="index.html">CDN</a></li>
                <li class="dropdown nav-item"><a class="nav-link fs-5 dropdown-item" href="index.html">VPN</a></li>
                <li class="dropdown nav-item"><a class="nav-link fs-5 dropdown-item" href="index.html">資安防護</a></li>
                <li class="dropdown nav-item"><a class="nav-link fs-5 dropdown-item" href="index.html">域名憑證購買</a></li>
              </ol>
            </li>
            <li class="burger-nav nav-item"><a class="fs-3 nav-link" href="index.html">人才招募</a></li>
            <li class="burger-nav nav-item"><a class="fs-3 nav-link" href="index.html">聯絡我們</a></li>
          </ul>
        </div>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto list-unstyled d-flex gap-md-3 mb-0">
          <li class="nav-item"><a class="nav-link active" href="index.html">首頁</a></li>
          <li class="nav-item"><a class="nav-link" href="index.html">關於我們</a></li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle">產品服務</a>
            <ol class="dropdown-menu">
              <li><a class="dropdown-item" href="index.html">雲端運算</a></li>
              <li><a class="dropdown-item" href="index.html">CDN</a></li>
              <li><a class="dropdown-item" href="index.html">VPN</a></li>
              <li><a class="dropdown-item" href="index.html">資安防護</a></li>
              <li><a class="dropdown-item" href="index.html">域名憑證購買</a></li>
            </ol>
          </li>
          <li class="nav-item"><a class="nav-link" href="index.html">人才招募</a></li>
          <li class="nav-item"><a class="nav-link" href="index.html">聯絡我們</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>